@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Common Styles */
html, body{
    height: 100%;
}

main{
    flex: 1;
}

body{
    padding: 0; 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    display: flex; 
    flex-direction: column;
}

header, .hero, .info, .quote, .cta, footer{
    padding-inline: 10%;
}

header, .hero, footer{
    background-color: #1f2937;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    color: #F9FAF8; 
    background-color: #3882f6; 
    padding: 8px 24px; 
    border: none; 
    border-radius: 12px; 
    cursor: pointer;
}

ul{
    padding: 0; 
    margin: 0; 
    display: flex; 
    gap: 12px;
}

/* Header Section */
header{
    display: flex; 
    justify-content: space-between; 
    padding-block: 16px;
}

.logo{
    color: #F9FAF8; 
    font-weight: bold; 
    font-size: 22px;
}

header a{
    color: #e5e7eb;
}

/* Hero Section */
.hero{
    padding-block: 64px; 
    display: flex; 
    justify-content: space-between;
}

.hero-info h3{
    font-size: 48px; 
    color: #F9FAF8; 
    font-weight: 900; 
    margin: 0; 
    max-width: 16ch;
}

.hero-info p{
    font-size: 18px; 
    color: #e5e7eb; 
    max-width: 46ch;
}

.hero-image{
    background-color:grey; 
    color: #e5e7eb; 
    width: 600px; 
    height: 300px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* Info Section */
.info{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 16px; 
    padding-bottom: 56px;
}

.info h2{
    font-size: 36px; 
    color: #1f2937; 
    font-weight: 900; 
    padding-bottom: 16px;
}

.cards{
    display: flex; 
    gap: 48px;
}

.card{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.card .image{
    border: 4px solid #3882f6; 
    border-radius: 16px; 
    width: 150px; 
    height: 150px;
}

.card p {
    max-width: 17ch; 
    text-align: center;
}

/* Quote Section */
.quote{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: #e5e7eb; 
    padding-block: 64px;
}

.quote .box{
    display: flex; 
    flex-direction: column; 
    max-width: 800px;
}

.quote p{
    margin-bottom: 0; 
    font-size: 36px; 
    color: #1f2937; 
    font-weight: 300; 
    font-style: italic;
}

.quote h4{
    margin-top: 0; 
    align-self: flex-end;
}

/* Call-to-Action Section */
.cta{
    display: flex;
    justify-content: center;
    padding: 72px;
}

.cta .box{
    width: 1000px;
    height: 100px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.cta .box .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.cta h3, .cta p{
    padding: 0;
    margin: 0;
}

.cta h3{
    color: #F9FAF8;
}

.cta {
    color: #e5e7eb;
}

.cta button{
    border: 2px solid #F9FAF8;
}

/* Footer Section */
footer{
    padding: 24px;
    text-align: center;
    color: #e5e7eb;
}